body {
    background-color: rgb(134, 69, 113);
    margin: 0;
    
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(134, 69, 113);
}

.header__img {
    display: flex;
    height: 500px;
    width: 200px;
    padding: 10px;
}

.card {
    /* padding: 40px; */
    /* padding: 40px; */
    position: relative;
    background-color: #f4f4f4;
    color: #222;
    text-align: center;
    /* height: 200px; */
    width: 184px;
    border: 1px solid black;
    box-shadow: 3px 1px 6px black;
    align-items: center;
    padding-bottom: 10px;
    /*background-image: url("./assets/degradado.jpg");*/
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),
                url("../../media/examples/lizard.png");*/
    
}

.card-content {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-content: space-around;
    align-items: center;
    

}

.card img {
    width: 150px;
    /*filter: drop-shadow(10px 10px 10px rgba(103, 67, 233, 0.5));*/
}


.card-title {
    text-transform: uppercase;
    font-weight: normal;
}

.card-id {
    font-weight: bold;
}

.card-header {
    height: 30px;
    display: flex;
    border-bottom: 1px solid;
    justify-content: space-between;
    align-content: stretch;
    align-items: center;
    padding: 0 10px;
    background-color: rgb(169, 232, 179);
}

.card-subtitle {
    font-weight: lighter;
    color: #666;
}
.card-image {
    height: 180px;
}
#pokedex {
    /* list-style: none;
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px; */

    list-style: none;
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    justify-items: center;
}
.card:hover {
    animation: bounce 0.5s linear;
}
@keyframes bounce {
    20% {
    transform: translateY(-6px);
    }
    40% {
    transform: translateY(0px);
    }
    60% {
    transform: translateY(-2px);
    }
    80% {
    transform: translateY(-0px);
    }
}